:host {
	display: block;
	position: relative;
	height: 100%;

	::ng-deep {
		p-dock {
			z-index: 1000;

			#dock-icon {
				color: black;
			}

			.p-dock-left {
				border-right: 1px solid #dee2e6;
				width: 5rem;
			}
		}
	}
}
